In [1]:
import geopandas as gp

In [2]:
import pandas as pd
import numpy as np

In [4]:
world = gp.read_file(gp.datasets.get_path('naturalearth_lowres'))

In [5]:
world

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
0,920938,Oceania,Fiji,FJI,8374.0,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,53950935,Africa,Tanzania,TZA,150600.0,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,603253,Africa,W. Sahara,ESH,906.5,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,35623680,North America,Canada,CAN,1674000.0,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,326625791,North America,United States of America,USA,18560000.0,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."
...,...,...,...,...,...,...
172,7111024,Europe,Serbia,SRB,101800.0,"POLYGON ((18.82982 45.90887, 18.82984 45.90888..."
173,642550,Europe,Montenegro,MNE,10610.0,"POLYGON ((20.07070 42.58863, 19.80161 42.50009..."
174,1895250,Europe,Kosovo,-99,18490.0,"POLYGON ((20.59025 41.85541, 20.52295 42.21787..."
175,1218208,North America,Trinidad and Tobago,TTO,43570.0,"POLYGON ((-61.68000 10.76000, -61.10500 10.890..."
176,13026129,Africa,S. Sudan,SSD,20880.0,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ..."

In [6]:
pollution = pd.read_csv('mismanaged-plastic-waste.csv')

In [8]:
pollution = pollution.rename(columns = {'Code': 'iso_a3'})
pollution

,Entity,iso_a3,Year,Total mismanaged plastic waste in 2010
0,Albania,ALB,2010,29705
1,Algeria,DZA,2010,520555
2,Angola,AGO,2010,62528
3,Anguilla,AIA,2010,52
4,Antigua and Barbuda,ATG,2010,1253
...,...,...,...,...
182,Vanuatu,VUT,2010,22478
183,Venezuela,VEN,2010,102333
184,Vietnam,VNM,2010,1833819
185,World,OWID_WRL,2010,31865274
186,Yemen,YEM,2010,169181

In [10]:
data = world.merge(pollution, on = 'iso_a3')
data

,pop_est,continent,name,iso_a3,gdp_md_est,geometry,Entity,Year,Total mismanaged plastic waste in 2010
0,920938,Oceania,Fiji,FJI,8374.0,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",Fiji,2010,49257
1,53950935,Africa,Tanzania,TZA,150600.0,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...",Tanzania,2010,48586
2,35623680,North America,Canada,CAN,1674000.0,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742...",Canada,2010,7959
3,326625791,North America,United States of America,USA,18560000.0,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000...",United States,2010,275424
4,6909701,Oceania,Papua New Guinea,PNG,28020.0,"MULTIPOLYGON (((141.00021 -2.60015, 142.73525 ...",Papua New Guinea,2010,89835
...,...,...,...,...,...,...,...,...,...
123,6653210,Africa,Libya,LBY,90890.0,"POLYGON ((25.00000 22.00000, 25.00000 20.00304...",Libya,2010,52779
124,865267,Africa,Djibouti,DJI,3345.0,"POLYGON ((42.35156 12.54223, 42.77964 12.45542...",Djibouti,2010,17324
125,3856181,Europe,Bosnia and Herz.,BIH,42530.0,"POLYGON ((18.56000 42.65000, 17.67492 43.02856...",Bosnia and Herzegovina,2010,12955
126,642550,Europe,Montenegro,MNE,10610.0,"POLYGON ((20.07070 42.58863, 19.80161 42.50009...",Montenegro,2010,4416
127,1218208,North America,Trinidad and Tobago,TTO,43570.0,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",Trinidad and Tobago,2010,94066

In [11]:
data.to_file("countries_plastic_pollution.geojson", driver='GeoJSON')